@font-face {
  font-family: "Open sans";
  src: url(./fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Open sans bold";
  src: local("Open sans bold"), url("./fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "Open sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.createModal .pure-modal-backdrop {
  justify-content: center !important;
}

.pure-modal-backdrop {
  justify-content: flex-start !important;
}

.cropModal .pure-modal-backdrop {
  justify-content: center !important;
}

.cropModal .pure-modal {
  width: 600px !important;
}

.pure-modal {
  width: 500px !important;
  animation: 500ms alternate display-show;
}

.loading-modal .pure-modal-backdrop {
  justify-content: center !important;
}

.loading-modal :where(.panel-body) {
  background-color: transparent !important;
}

.loading-modal :where(.close) {
  display: none;
}

.pure-modal .panel-body {
  border-radius: 10px;
}

.review-text::before {
  content: "\eb75";
}

@media screen and (max-width: 1024px) {
  .pure-modal {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .cropModal .pure-modal {
    width: 350px !important;
  }
  .pure-modal {
    width: 350px !important;
  }
}

@keyframes display-show {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
